<div class="container">
	<div class="row">
		<div class="col-md-6">
			<center><div id="map-canvas"></div>
			<h4>Come Visit Us:</h4>
			<h4>1040 West Marietta St. NW</h4>
			<h4>Atlanta, GA 30318</h4>
			<h4>Office: 404-828-0121</h4></center>
		</div>
		<div class="col-md-6">
			<form action="/action_page.php">
	  		<p>Name:</p>
	  		<input type="text" name="firstname">
	  		<br />
	  		<br />
	  		<p>Order # (if applicable):</p>
	  		<input type="text" name="lastname">
	  		<br />
	  		<br />
	  		<p>Your Message:</p>
	  		 <textarea name="message" rows="4" cols="40"></textarea>
	  		<br />
	  		<br />
	  		<input type="submit" value="Submit">
			</form> 
		</div>
  </div>
</div>



